<p id="notice"><%= notice %></p>

<h1>Listing Request Receiver Temps</h1>

<table>
  <thead>
    <tr>
      <th>Params</th>
      <th>guid</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_receiver_temps.each do |request_receiver_temp| %>
      <tr>
        <td><%= request_receiver_temp.params %></td>
        <td><%= request_receiver_temp.guid %></td>
        <td><%= request_receiver_temp.status %></td>
        <td><%= link_to 'Show', request_receiver_temp %></td>
        <td><%= link_to 'Edit', edit_request_receiver_temp_path(request_receiver_temp) %></td>
        <td><%= link_to 'Destroy', request_receiver_temp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request receiver temp', new_request_receiver_temp_path %>
