<p id="notice"><%= notice %></p>

<h1>Listing Generators</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Guid</th>
      <th>Csvfile</th>
      <th>Csvcount</th>
      <th>Processedcount</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generators.each do |generator| %>
      <tr>
        <td><%= generator.userid %></td>
        <td><%= generator.guid %></td>
        <td><%= generator.csvfile %></td>
        <td><%= generator.csvcount %></td>
        <td><%= generator.processedcount %></td>
        <td><%= generator.status %></td>
        <td><%= link_to 'Show', generator %></td>
        <td><%= link_to 'Edit', edit_generator_path(generator) %></td>
        <td><%= link_to 'Destroy', generator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generator', new_generator_path %>
