<p id="notice"><%= notice %></p>

<p>
  <strong>Params:</strong>
  <%= @authenticates_temp.params %>
</p>

<p>
  <strong>Status:</strong>
  <%= @authenticates_temp.status %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @authenticates_temp.guid %>
</p>

<%= link_to 'Edit', edit_authenticates_temp_path(@authenticates_temp) %> |
<%= link_to 'Back', authenticates_temps_path %>
