<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @csv_map.userid %>
</p>

<p>
  <strong>Csvid:</strong>
  <%= @csv_map.csvid %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @csv_map.guid %>
</p>

<p>
  <strong>Status:</strong>
  <%= @csv_map.status %>
</p>

<%= link_to 'Edit', edit_csv_map_path(@csv_map) %> |
<%= link_to 'Back', csv_maps_path %>
