<%= form_for(@audio_temp) do |f| %>
  <% if @audio_temp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audio_temp.errors.count, "error") %> prohibited this audio_temp from being saved:</h2>

      <ul>
      <% @audio_temp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :audioname %><br>
    <%= f.text_field :audioname %>
  </div>
  <div class="field">
    <%= f.label :flocation %><br>
    <%= f.text_area :flocation %>
  </div>
  <div class="field">
    <%= f.label :fsize %><br>
    <%= f.number_field :fsize %>
  </div>
  <div class="field">
    <%= f.label :ftlocation %><br>
    <%= f.text_area :ftlocation %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
