<%= form_for(@call_template) do |f| %>
  <% if @call_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call_template.errors.count, "error") %> prohibited this call_template from being saved:</h2>

      <ul>
      <% @call_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :flocation %><br>
    <%= f.text_area :flocation %>
  </div>
  <div class="field">
    <%= f.label :mode %><br>
    <%= f.number_field :mode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
