<%= form_for(@make_record) do |f| %>
  <% if @make_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@make_record.errors.count, "error") %> prohibited this make_record from being saved:</h2>

      <ul>
      <% @make_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guid %><br>
    <%= f.text_field :guid %>
  </div>
  <div class="field">
    <%= f.label :userid %><br>
    <%= f.number_field :userid %>
  </div>
  <div class="field">
    <%= f.label :callerid %><br>
    <%= f.text_field :callerid %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :templateid %><br>
    <%= f.number_field :templateid %>
  </div>
  <div class="field">
    <%= f.label :dialedtime %><br>
    <%= f.number_field :dialedtime %>
  </div>
  <div class="field">
    <%= f.label :answeredtime %><br>
    <%= f.number_field :answeredtime %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br>
    <%= f.number_field :endtime %>
  </div>
  <div class="field">
    <%= f.label :dialstatus %><br>
    <%= f.text_field :dialstatus %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
